
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  z-index: 9999;
  /* transform: translateY(50px); */
}
nav a {
  color: #000;
  font-size: 13px;
  font-family: sans-serif;
}

nav a:not(:last-child):hover {
  text-decoration: underline;
}
/* svg olculeri */
.menu,
.vs-icon {
  width: 24px;
  height: 24px;
}
.search-icon {
  width: 20px;
  height: 20px;
}
.menu {
  border-radius: 50px;
  padding: 8px;
}
.menu:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  padding: 8px;
}
nav button {
  background: #1a73e8;
  color: #fff;
  padding: 7px 15px;
  border: transparent;
  border-radius: 3px;
  margin-right: 8px;
  cursor: pointer;
}
nav button:hover {
  background: #247bed;
  color: rgb(230, 230, 230);
}
section {
  /* position: relative; */
  top: 10%;
  background-color: rgb(255, 255, 255);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px);  

}

.logo {
  /* position: absolute;
  top: 17%; */
  width: 272px;
  padding-bottom: 20px;
}

.s-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 580px;
  text-align: center;
  position: relative;
  padding-top: 5px;
}

.s-box .s-input {
  width: 90%;
  padding: 13px;
  border-color: rgba(0, 0, 0, .05);
  border-radius: 25px;
  padding-left: 46px;
}
.s-input:hover {
  box-shadow: 0 0 4px rgba(50, 50, 50, .3);
}

.search-icon {
  position: absolute;
  top: 17px;
  left: 14px;
  opacity: 0.4;
}
.vs-icon {
  position: absolute;
  top: 17px;
  right: 14px;
  cursor: pointer;
}
.buttons {
  padding: 30px 0 20px;
}
.g-search,
.g-lucky {
  background: rgb(249, 249, 250);
  font-size: 15px;
  color: rgb(70, 70, 70);
  border: transparent;
  border-radius: 5px;
  padding: 9px 16px;
  cursor: pointer;
}
.g-search:hover,
.g-lucky:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(112, 112, 112, 0.3);
  padding: 8px 12px;
}
.offered {
  padding: 10px;
}
span {
  font-size: 13px;
}
section a {
  font-size: 13px;
}
footer {
  display: flex;
  flex-direction: column;
}
p {
  background: rgb(242, 242, 242);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  height: 47px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 500;
}
.links {
  background: rgb(242, 242, 242);
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 22px;
  padding-right: 22px;
}
.links a {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 14px;
  padding: 13px;
}
.links a:hover {
  text-decoration: underline;
}

@media (max-width: 765px){}